{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to Play</title>
</head>
<body>
<img src="welcome2trivia.png" alt="Welcome Image">
<h1 style = color:#8ecd37 > Welcome to the Tricky Trivia Tournament! </h1>
<hr>
<h1> Background Information: </h1>
<p> This trivia game has a twist compared to your typical trivia game.
    The game will tests the players knowledge in the following 5 categories
<ol>
    <li>Texas Tech University </li>
    <li>Computer Science </li>
    <li>Food </li>
    <li>Sports </li>
    <li>Anime/Manga </li>
</ol>
The game will auto-generate 2 questions from each of these categories to make up the game round.
</p>
<hr>
<h1>  How to Play:  </h1>
<p>
    Before the game starts, a counter will count down prompting the user to get ready.
    The questions will appear one by one with the question at the top of the screen and the four (4)
    answer choices listed below. </p>
<p> The player should pick their correct answer at which point the game  will let the player know whether they got it right or not.
    If the answer was right, then the answer button will highlight green and a ding sound effect will alert the player before moving
    on to the next question. </p>
<p> If the answer was incorrect, the answer button will highlight red and a buzzer will sound to alert the player
    before moving on to the next question. </p>
<p>

</p>
<hr>
<a href="/main_menu/" style="font-size: x-large"> BACK TO MAIN MENU </a>
<!--<button onclick="main_">Back to Menu</button>  -->
</body>
</html>

{% else %}
<!-- Redirect to login page -->
<meta http-equiv="Refresh" content="0; url=/accounts/login"/>
{% endif %}