{% if user.is_authenticated %}

<!DOCTYPE html>
<html>
<head>
<style>
li {
  list-style-type: none;
  width:500px;
  length: 500px;
  background-color: #abc;
  text-align: center;
  border-bottom: 2px solid black;
}
li a {
  padding: 80px 16px;
  text-decoration: none;
  display: block;
}
li a:hover {
  background-color: Yellow;
}
</style>
</head>
<body>
<h2>Main Menu</h2>
<ul>
  <li><a href="/question/1/">Play Game</a></li>
  <li><a href="/howtoplay">How to Play</a></li>
  <li><a href="leaderboard.html">Leaderboard</a></li>
</ul>
</body>
</html>

{% else %}
<!-- Redirect to login page -->
<meta http-equiv="Refresh" content="0; url=/accounts/login"/>
{% endif %}
