<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question ID</title>
</head>
<body>
    <div>
            <h3>{{ question.category }}</h3>
            <p>{{ question.question }}</p><br>
            <input type = "radio">{{ question.choice1 }}<br>
            <input type = "radio">{{ question.choice2 }}<br>
            <input type = "radio">{{ question.choice3 }}<br>
            <input type = "radio">{{ question.choice4 }}<br>
            <button onclick = "validateAnswerChoice()">Submit</button>
    </div>
</body>
</html>