

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question ID</title>
</head>
<body>
    <div>
            <h3>Insert Category Name</h3>
            <p>Insert Question</p><br>   
            <input type = "radio">Choice 1<br>
            <input type = "radio">Choice 2<br>
            <input type = "radio">Choice 3<br>
            <input type = "radio">Choice 4<br>
            <button onclick = "validateAnswerChoice()">Submit</button>

    </div>
</body>
</html>

<!-- Redirect to login page -->
<meta http-equiv="Refresh" content="0; url=/accounts/login"/>
